body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #ffffff;
  /* White background color for the header */
  padding: 10px 0;
  /* Adjust the padding for the header height */
}

.navbar-brand img {
  width: 80px;
  /* Adjust the width for the logo */
  height: 80px;
  /* Adjust the height for the logo */
  border-radius: 50%;
  border: 2px solid #000;
  /* Black border for the logo */
}

.navbar-brand {
  display: flex;
  align-items: center;
  /* Vertically align the company name with the logo */
  color: #000;
  /* Text color for the company name */
  font-weight: bold;
  /* Font weight for the company name */
}

.navbar-nav .nav-link {
  color: #000 !important;
  /* Text color for the navbar links */
}

/* Style for company name */
.company-name {
  margin-left: 10px;
  /* Add spacing between logo and company name */
}

.container {
  padding: 20px;
  margin-top: 20px;
}

/* Home page button container */
.home-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/* Button styles */
.btn-card {
  width: 30%;
  /* Adjust the width of each card */
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  /* Add hover transition */
  border: 1px solid #ccc;
  /* Add border */
  border-radius: 10px;
  /* Add border radius */
}

.btn-card:hover {
  transform: translateY(-10px);
  /* Float effect on hover */
}

.btn-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 265px; 
  width: 265px;
}

/* Button title styles */
.btn-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Button description styles */
.btn-description {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Button container styles */
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button separator styles */
.btn-separator {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}