body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #ffffff;
  /* White background color for the header */
  /* Adjust the padding for the header height */
}

.navbar-brand img {
  width: 40px;
  /* Adjust the width for the logo */
  height: 40px;
  /* Adjust the height for the logo */
  border-radius: 50%;
  border: 2px solid #000;
  /* Black border for the logo */
}

.navbar-brand {
  display: flex;
  align-items: center;
  /* Vertically align the company name with the logo */
  color: #000;
  /* Text color for the company name */
  font-weight: bold;
  /* Font weight for the company name */
}

.navbar-nav .nav-link {
  color: #000 !important;
  /* Text color for the navbar links */
}

/* Style for company name */
.company-name {
  margin-left: 10px;
  /* Add spacing between logo and company name */
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#activity-list {
  margin-top: 20px;
}